<div class="modal fade" id="user_modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    {{dialog.title}}
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="input-group">
                            <span class="input-group-addon">用户名</span>
                            <input type="text" class="form-control" ng-disabled="user.authority_level > 0" ng-model="dialog.user.name" required>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="input-group">
                            <span class="input-group-addon">密码</span>
                            <input type="text" class="form-control" ng-model="dialog.user.password" required>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="input-group">
                            <span class="input-group-addon">岗位</span>
                            <select class="form-control" ng-disabled="user.authority_level > 0" ng-model="dialog.user.role" required>
                                <option value="">-------</option>
                                <option value="报案">报案</option>
                                <option value="初录">初录</option>
                                <option value="理算">理算</option>
                                <option value="审核">审核</option>
                                <option value="审批">审批</option>
                                <option value="管理员">管理员</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"  ng-click="users.action.save()">
                    保存
                </button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>