<div class="col-xs-4">
    <div class="input-group">
        <span class="input-group-addon">案件流水号</span>
        <label class="form-control" disabled>{{_case.cid}}</label>
    </div>
</div>
<div class="col-xs-4">
    <div class="input-group">
        <span class="input-group-addon">是否报案</span>
        <div class="checkbox" style=" margin: 0;padding: 7px 0 10px 15px;height: 34px;border: 1px solid #ccc;border-radius: 5px;">
            <label>
                <input type="radio" name="{{'is_reported_' + active}}" value="1" ng-model="_case.is_reported"/> 是
            </label>
            <label>
                <input type="radio" name="{{'is_reported_' + active}}" value="0" ng-model="_case.is_reported"/> 否
            </label>
        </div>
    </div>
</div>
<div class="col-xs-4">
    <div class="input-group">
        <span class="input-group-addon">报案时间</span>
        <input type="text" ng-datepicker ng-require class="form-control" ng-model="_case.report_time"/>
    </div>
</div>
<div class="col-xs-4">
    <div class="input-group">
        <span class="input-group-addon">保单号</span>
        <input type="text" class="form-control" ng-require ng-require ng-regexp="number" ng-model="_case.policy_id" ng-require/>
    </div>
</div>
<div class="col-xs-4">
    <div class="input-group">
        <span class="input-group-addon">报案类型</span>
        <select class="form-control" ng-disabled="_case.is_reported <= 0" ng-model="_case.report_type">
            <option value="">-------</option>
            <option ng-repeat="val in field_values.report_type track by $index">{{val}}</option>
        </select>
    </div>
</div>
<div class="col-xs-4">
    <div class="input-group">
        <span class="input-group-addon">报案人电话</span>
        <input type="text" class="form-control" ng-regexp="phone" ng-model="_case.report_phone">
    </div>
</div>